*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 1000px;
    margin: 180px auto;
}

.box{
    padding: 40px 40px 40px 40px;
}

.icon{
    margin-bottom: 30px;
}

.title{
    margin-bottom: 30px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

.text{
    height: 250px;
}

.text p{
    margin-bottom: 60px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: hsla(0, 0%, 100%, 0.75);
}


.button{
    background: #fff;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 30px;
}

.sedans{
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}

.sedans a{
    color: hsl(31, 77%, 52%);
}

.sedans a:active{
    background: hsl(31, 77%, 52%);
    border: 2px solid #fff;
    color: #fff;
}

.suvs{
    background: hsl(184, 100%, 22%);
}

.suvs a{
    color: hsl(184, 100%, 22%);
}

.suvs a:active{
    background: hsl(184, 100%, 22%);
    border: 2px solid #fff;
    color: #fff;
}

.luxury{
    background: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
}

.luxury a {
    color: hsl(179, 100%, 13%);
}

.luxury a:active{
    background: hsl(179, 100%, 13%);
    border: 2px solid #fff;
    color: #fff;
}

@media only screen and (max-width: 450px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 30px 10px;
        width: auto;
    }

    .text {
        height: auto;
    }

    .text p{
        margin-bottom: 40px;
    }

    .sedans{
        border-radius: 10px 10px 0px 0px;
    }

    .luxury{
        border-radius: 0px 0px 10px 10px;
    }
  }
